html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin: 0;
    padding: 0;*/
    background: #f7f7f7;
    font-family: 'Open Sans', Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    margin-bottom: 60px;
    padding-top: 20px;
}

img {
    border: none;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

header, section, footer, hgroup {
    display: block;
}

a {
    color: #35BFFF;
    text-decoration: none;
}

a:hover, a:active {
    color: #f7f7f7;
}

#index-bottom-block {
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#bottom-banner {
    margin-bottom: 20px;
    margin-top: 50px;
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pagination-controls {
    margin-top: 25px;
    margin-bottom: 45px;
}

#button-previous, #button-home, #button-next {
    margin-bottom: 5px;
}

.p-l-normal {
    padding-left: 23px;
}

.m-t-large {
     margin-top: 35px;
}

.m-t-extra {
    margin-top: 50px;
}

.m-b-large {
    margin-bottom: 35px;
}

.m-b-extra {
    margin-bottom: 50px;
}

/* clearfix */
.clearfix {
    clear: both;
}

#products {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: auto;
    max-width: 960px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.text-block {
    margin-bottom: 35px;
}

.grid {
    box-sizing: content-box;
    width: 188px;
    min-height: 100px;
    padding: 15px;
    background: #fff;
    margin: 8px;
    font-size: 12px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    display: block;
    padding: 0 0 5px;
    font-size: 17px;
}

.grid .imgholder img {
    max-width: 100%;
    display: block;
}

.grid .adsbygoogle {
    margin-left: -7px;
}

.sale {
    color: #ff6600!important;
    text-align: right!important;
    font-weight: bold!important;
    font-size: 19px!important;
    margin-top: 10px!important;
}

.price {
    color: #cec9c7!important;
    text-decoration: line-through!important;
    font-weight: normal!important;
    font-size: 17px!important;
    text-align: right!important;
    margin-bottom: -10px!important;
    margin-top: 20px!important;
}

.brand {
    font-weight: bold!important;
    font-size: 17px!important;
    text-align: left!important;
    display: block!important;
    margin-bottom: -5px!important;
}

.title {
    font-size: 17px!important;
    font-weight: normal!important;
    text-align: left!important;
    border-bottom: 1px solid #ccc!important;
    margin: 10px 0!important;
    display: block!important;
    padding: 0 0 5px!important;
}

.discount-badge-50 {
    position: absolute!important;
    z-index: 100!important;
    text-align: center!important;
    width: 64px!important;
    height: 64px!important;
    line-height: 64px!important;
    background-image: url("../img/disc50.png");
    background-repeat: no-repeat;
    font-size: 20px!important;
    font-weight: bold!important;
    color: white!important;
    padding-left: 2px!important;
}

.discount-badge-big {
    position: absolute!important;
    z-index: 100!important;
    text-align: center!important;
    width: 64px!important;
    height: 64px!important;
    line-height: 64px!important;
    background-image: url("../img/discbig.png");
    background-repeat: no-repeat;
    font-size: 20px!important;
    font-weight: bold!important;
    color: white!important;
    padding-left: 2px!important;
}

.button-go {
    margin-top: 25px;
}

#logo-block {
    text-align: center!important;
    font-weight: bold!important;
    font-size: 18px!important;
    color: #ff6600!important;
    line-height: 15px!important;
}

#google-play-block {
    font-size: 16px!important;
}

#google-play-block img {
    /*margin-left: -3px!important;*/
}

#logo-block img {
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 20px!important;
}

#store-logo {
    margin-bottom: 10px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/page-loader.gif") 50% 50% no-repeat rgb(249,249,249);
}


@media screen and (max-width: 960px) {
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 900px) {
    #backlinks {
        float: none;
        clear: both;
    }

    #backlinks a {
        display: inline-block;
        padding-right: 20px;
    }

    #wrapper {
        margin-top: 90px;
    }
}